* {
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 10px;
    --base-color: hsl(78, 33%, 90%);
    --org-color: #FF5C00;
}

header {
    padding-top: 0.25%;
    padding-bottom: 0.35%;
}

.base-color {
    background-color: var(--base-color);
}

.nor {
    font-weight: normal;
}

.org-color {
    color: var(--org-color);
}

.logo-font {
    font-family: Arial, Helvetica, sans-serif;
}

.social-media-icon > a {
    text-decoration: none;
    color: black;
}

footer {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.buy-button {
    background-color: var(--org-color);
}

.continue-button {
    background-color: var(--org-color);
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: black;
    background-color: black;
}